/* Full background */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e40af);
  font-family: "Segoe UI", sans-serif;
}

/* Main card */
.auth-card {
  display: flex;
  width: 750px;
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

/* Left side */
.auth-left {
  width: 40%;
  background: linear-gradient(135deg, #38bdf8, #0ea5e9);
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-left h1 {
  margin-bottom: 15px;
}

.auth-left p {
  font-size: 14px;
}

/* Right side */
.auth-right {
  width: 60%;
  background: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-right h2 {
  margin-bottom: 20px;
  color: #1e293b;
}

/* Inputs */
.auth-right input {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.auth-right input:focus {
  border-color: #38bdf8;
  box-shadow: 0 0 6px rgba(56,189,248,0.5);
}

/* Button */
.auth-btn {
  padding: 12px;
  background: #38bdf8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #0ea5e9;
}

/* Switch text */
.switch-text {
  margin-top: 10px;
  font-size: 14px;
}

.switch-text span {
  color: #38bdf8;
  cursor: pointer;
  font-weight: bold;
}