.home-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  padding: 30px;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

/* Header */
.home-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.home-header p {
  color: #cbd5f5;
  margin-bottom: 30px;
}

/* Cards Layout */
.home-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

/* Card Styling */
.card {
  background: white;
  color: #1e293b;
  width: 260px;
  padding: 25px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-10px);
  background: #38bdf8;
  color: white;
}